/* Start Article Page */
.breadcrumbs {
	padding: 5px;
	background-color: #ddd;
	font-size: 14px;
	font-weight: bold;
}
.breadcrumbs a:hover {
	text-decoration: underline;
}
.article {
	margin-bottom: 20px;
	border-bottom: 1px solid #33444e;
}
.article .title {
	position:relative;
	margin-top: 0;
	font-size: 45px;
}
.article .title.withsace {
	padding-left:70px;
}
.by {
	color: #999;
}
.interactivity {
	margin: 20px 0 10px;
}
.interactivity .share {
	display: none;
	float: right;
	color: #999;
}
.interactivity .share ul {
	display: table-row;
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.interactivity .share ul li {
	display: table-cell;
}
.interactivity .share a {
	width: 70px;
	height: 25px;
	display: inline-block;
	margin-right: 10px;
	padding-right: 5px;
	font-weight: normal;
	font-size: 11px;
	color: #fff;
	line-height: 25px;
}
.interactivity .share a:hover {
	color: #333;
}
.interactivity li.share-facebook a {
	background-color: #3c5a9a;
	background-position: -229px 0;
}
.interactivity li.share-twitter a {
	background-color: #329bc2;
	background-position: -229px -25px;
}
.interactivity li.share-google a {
	background-color: #da4835;
	background-position: -229px -50px;
}
.interactivity .views {
	float: left;
	color: #999;
}
.interactivity .views .icon {
	width: 19px;
	height: 12px;
	display: inline-block;
	background-position: -78px 0;
}
.article-img {
	width: 616px;
	overflow: hidden;
	margin: 10px 0;
	border: 1px solid #ddd;
	text-align: center;
}
.related-articles-list1 {
	width: 140px;
	float: right;
	margin-top: 10px;
	list-style-type: none;
	background-color: #fff;
}
.related-articles-list1 .icon {
	width: 14px;
	height: 14px;
	display: inline-block;
	margin-left: 5px;
	background-position: -102px 0;
}
.related-articles-list1 li {
	margin-bottom: 7px;
	padding-bottom: 7px;
	border-bottom: 1px solid #ddd;
	font-weight: bold;
}
.related-articles-list1 a:hover {
	color: #333;
}
.article-text {
	overflow: hidden;
}
.article-text, pre {
	font-size: 16px;
	line-height: 1.8;
}
pre {
	font-family: 'DroidArabicKufi-Regular', sans-serif, Arial;
}
.related-articles-list2 .top-title {
	display: inline-block;
}
.related-articles-list2 .top-title {
	margin-bottom: 20px;
	font-size: 16px;
	font-weight: bold;
}
.article-body .toc {
	overflow: hidden;
	padding: 10px;
	border: 1px solid #ddd;
	border-width: 1px 1px 2px 1px;
	background-color: #f8f8f8;
}
.article-body .toc:hover {
	border-bottom: 2px solid #ccc;
}
.article-body .toc ul {
	padding: 0;
	list-style-type: none;
}
.article-body .toc ul li {
	margin-bottom: 10px;
}
.article-body .toc ul li a {
	display: block;
}
.article-body .toc ul li a:hover {
	color: #333;
}
.article-body .toc ul ul {
	margin-right: 15px;
}
.embedvideo iframe  {
	width: 450px !important;
	height: 250px;
}
.article-text h2 span[id]:before, .article-text h3 span[id]:before, h3.media-title:before,
.article-text h4 span[id]:before {
	content: "";
	display: block;
	margin-top: -75px;
	height: 75px;
	visibility: hidden;
}
/* End Article Page */

/* Start Categories Page */
.categories-tabs .links ul {
	width: auto;
	height: auto;
	overflow: hidden;
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.categories-tabs .links ul:after, .categories-tabs .content ul:after {
	display: block;
	clear: both;
	content: '';
}
.categories-tabs .links ul li {
	float: right;
	margin: 0;
	border: 0 none;
}
.categories-tabs .links ul li a {
	display: block;
	padding: 5px 8px;
	background: none;
	font: bold 17px 'DroidArabicKufi-Regular', sans-serif, Arial;
	color: #2080c7;
	white-space: nowrap;
}
.categories-tabs .links ul li a:hover {
	background: none;
	text-decoration: none;
}
.categories-tabs .links ul li.active a {
	color: #5e5e5e;
	cursor: text;
}
.categories-tabs .links ul li.active a, .categories-tabs .tab-links ul li.active a:hover {
	background: none;
}
.categories-tabs .links ul li.active {
	border: 1px solid #ccc;
	border-bottom: 1px solid #fff;
	border-radius: 5px 5px 0 0;
}
.categories-tabs .content {
	margin-top: -1px;
	padding: 10px 0;
	border: 1px solid #ccc;
	border-width: 1px 0 0;
	background: none;
}
.categories-list {
	padding: 0;
	list-style-type: none;
}
.categories-list li {
	max-width: 214px;
	margin-bottom: 15px;
}
.categories-list .category-box {
	display: block;
	overflow: hidden;
	border-radius: 5px 5px 0 0;
	border: 1px solid #ddd;
	border-width: 1px 1px 2px;
}
.categories-list .category-box:hover {
	border-bottom: 2px solid #ccc;
}
.categories-list .title {
	height: 45px;
	display: block;
	overflow: hidden;
	padding: 5px;
	background-color: #fff;
	font: bold 15px/1.6 'DroidArabicKufi-Regular', sans-serif, Arial;
	color: #2080c7;
	word-wrap: break-word;
}
.categories-more {
	width: 100%;
}
/* End Categories Page */

/* Start Side Box - Common Between Categories/Article Pages*/
.side-box {
	padding: 10px 10px 0;
}
.side-box .top-title {
	display: block;
	padding-bottom: 5px;
	border-bottom: 1px solid #ccc;
	font-size: 18px;
}
.side-box .list {
	overflow: hidden;
	padding: 0;
	list-style-type: none;
}
.side-box .list.vertical li {
	height: 135px;
	float: right;
	overflow: hidden;
	margin-bottom: 5px;
	padding: 0 0 0 10px;
	box-sizing: border-box;
}
.side-box .list.horizontal li {
	display: block;
	overflow: hidden;
	margin-bottom: 10px;
}
.side-box .list li a {
	display: block;
	overflow: hidden;
	padding-right: 3px;
	font-weight: bold;
	line-height: 1.8;
	word-wrap: break-word;
}
.side-box .list li img, .side-box .list li .img {
	width: 128px;
	height: 75px;
	display: block;
	margin-left: 7px;
	border-radius: 5px 5px 0 0;
	background-color: #49cbd2;
}
.side-box .list li .img {
	background-position: 40px -176px;
}
.side-box .list li.largeImg {
	height: 155px;
}
.side-box .list li.largeImg img {
	width: 270px;
	height: 100px;
}
.side-box .list li .title {
	display: block;
	overflow: hidden;
	font-size: 16px;
	word-wrap: break-word;
}
.side-box .list li .title-noImg {
	height: 130px;
	padding: 5px;
	background-color: #f8f8f8;
	font-size: 20px;
	line-height: 30px;
	box-sizing: border-box;
}
.side-box .list li a:hover {
	color: #333;
}
.side-box .list.vertical li .title {
	height: 55px;
	line-height: 26px;
}
/* End Side Box - Common Between Categories/Article Pages*/

/* Start Feedback Feature */
.feedback-feature {
	margin: 15px 0;
	padding: 15px 0;
	border-radius: 10px;
	background-color: #f4f4f4;
	text-align: center;
}
.feedback-feature .label {
	display: block;
	margin-bottom: 10px;
	font-size: 18px;
	text-align: center;
}
.feedback-feature .option {
	width: 40px;
	height: 40px;
	display: inline-block;
	margin: 0 5px;
	border-radius: 50%;
	font-weight: bold;
	line-height: 40px;
	text-align: center;
}
.feedback-feature .option.yes {
	border: 2px solid #269226;
	color: #269226;
}
.feedback-feature .option.yes:hover {
	background-color: #269226;
	color: #fff;
}
.feedback-feature .option.no {
	border: 2px solid #808080;
	color: #808080;
}
.feedback-feature .option.no:hover {
	background-color: #808080;
	color: #fff;
}
/* End Feedback Feature */

/* Start Form Style */
.form-style {
  overflow: hidden;
  position: relative;
  margin-top: 15px;
}
.form-style .blk {
	width: 100%;
}
.form-style .label {
	display: inline-block;
	margin-bottom: 5px;
	font-weight: bold;
}
.form-style .form-element {
	width: 100%;
	height: 46px;
	margin-bottom: 20px;
	padding: 0 5px;
	border-radius: 5px;
	border: 1px solid #ddd;
	outline: 0 none;
}
.form-style .form-element.textarea {
	height: 92px;
}
.form-style .text-danger {
	margin: -20px 0 20px;
	font-size: 12px;
	color: #dc3545;
}
.form-style .required {
	color: #dc3545;
}
.form-style input {
  box-sizing: border-box;
}
.form-style .btn-style {
	height: 36px;
	display: inline-block;
	padding: 0 25px;
	border: 0 none;
	border-radius: 5px;
	box-shadow: 0 2px 8px 0 rgba(50,80,140,.3);
	font-weight: 700;
	line-height: 36px;
	font-size: 14px;
	text-align: center;
}
.form-style .btn-style.btn-primary {
	background-color: #27b5bb;
	color: #fff;
}
.form-style.thanks-msg {
	text-align: center;
}
.form-style.thanks-msg p {
	margin-bottom: 30px;
	font-weight: bold;
	font-size: 18px;
}
.form-style.thanks-msg .btn-style {
	margin-bottom: 30px;
}
.form-style .options-blk .option-row {
	overflow: hidden;
	margin: 5px 0;
}
.form-style .options-blk .option-row input {
	float: right;
}
.form-style .options-blk .option-row label {
	width: 90%;
	float: right;
}
.form-style .options-blk .option-row .form-element {
	margin-bottom: 0;
}
.form-style .options-blk .text-danger {
	margin: 0;
}
.form-style .info-blk {
}
/* End Form Style */


/* Start Medium and Small Screens – [Common between tablet and mobile] */
@media screen and (max-width:969px) {
	.article-img {
		width: auto !important;
	}
	.interactivity .views {
	    float: right;
	    margin-top: 5px;
	}
	.interactivity .share, .interactivity .read-more-article {
		width: 100%;
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		border-top: 1px solid #fff;
		background-color: #fff;
		vertical-align: bottom;
		color: #fff;
		box-sizing: border-box;
	}
	.interactivity .share ul li {
		text-align: center;
		vertical-align: middle;
		color:#333;
	}
	.interactivity .share ul li:hover {
		cursor: pointer;
	}
	.interactivity .share a {
		width: 45px;
		height: 45px;
		margin-right: 0;
		padding-right: 0;
		text-indent: -3000px;
	}
	.interactivity li.share-facebook {
		background-color: #3c5a9a;
	}
	.interactivity li.share-facebook a {
		background-position: 0 -257px;
	}
	.interactivity li.share-twitter {
		background-color: #329bc2;
	}
	.interactivity li.share-twitter a {
		background-position: -45px -256px;
	}
	.interactivity li.share-google {
		background-color: #da4835;
	}
	.interactivity li.share-google a {
		background-position: -90px -257px;
	}
	.interactivity li.share-whatsapp {
		background-color: #18ac12;
	}
	.interactivity li.share-whatsapp a {
		background-position: -135px -253px;
	}
	.interactivity .read-more-article {
		max-height: 65px;
		display: none;
		padding: 5px;
		z-index: 999;
	}
	.interactivity .read-more-article .read {
		float: right;
	}
	.interactivity .read-more-article ul {
		width: 80%;
		float: right;
		margin: 0 5px 0 0;
		padding: 0;
		list-style-type: none;
	}
	.interactivity .read-more-article ul li {
		display:none;
	}
	.interactivity .read-more-article a {
		display: block;
		font-weight: bold;
		text-decoration: underline;
		color: #fff;
		line-height: 25px;
		word-wrap: break-word;
	}
	.interactivity .read-more-article a img {
		width:100px;
		height:50px;
		float:right;
		display:inline-block;
		margin-left:10px;
		border:1px solid #ddd;
		vertical-align:text-top;
	}
	.interactivity .read-more-article a span {
		width:300px;
		float:right;
		display:inline-block;
		color: #2080c7;
	}
	.side-box .list li a {
		line-height: 2;
	}
}
/* End Medium and Small Screens – [Common between tablet and mobile] */

/* Medium Screens  - [Portrait tablet to desktop] */
@media screen and (min-width:768px) and (max-width:969px) {
	.side-box .list li .title {
		max-width: 600px;
	}
}
/* /Medium Screens  - [Portrait tablet to desktop] */

/* Start Small Screens - [Portrait/Landscape phone to portrait tablet] */
@media screen and (max-width:767px) {
	.related-articles-list1 {
		width: 100%;
		position: static !important;
	}
	.embedvideo iframe  {
		width: 280px !important;
		height: 160px;
	}
}
/* End Small Screens - [Portrait/Landscape phone to portrait tablet] */

/* Small Screens - [Landscape phones and above] */
@media screen and (min-width:480px) and (max-width:767px) {
	.side-box .list li .title {
		max-width: 300px;
	}
}
/* /Small Screens - [Landscape phones and above] */

/* Start Small Screens - [Landscape phones] */
@media screen and (max-width:480px) {
	.interactivity .read-more-article ul {
		width:auto;
	}
	.interactivity .read-more-article a span {
		width:180px;
		line-height:1.8;
	}
}
/* End Start Small Screens - [Landscape phones] */

/* --------------------Retina Display-------------------- */
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 767px), only screen and ( min--moz-device-pixel-ratio: 2) and (max-width: 767px), only screen and ( -o-min-device-pixel-ratio: 2/1) and (max-width: 767px), only screen and ( min-device-pixel-ratio: 2) and (max-width: 767px), only screen and ( min-resolution: 192dpi) and (max-width: 767px), only screen and ( min-resolution: 2dppx) and (max-width: 767px) {
	.interactivity li.share-facebook a {
		background-position: 0 -191px;
	}
	.interactivity li.share-twitter a {
		background-position: -50px -191px;
	}
	.interactivity li.share-google a {
		background-position: -100px -191px;
	}
	.interactivity li.share-whatsapp a {
		background-position: -150px -188px;
	}
}
/* --------------------/Retina Display-------------------- */
