/* Simple Framework | by Mohammad Younis [http://www.linkedin.com/in/mohammadyounis] */

/* --------------------Main Settings-------------------- */
html {
	font-size: 16px; /* add font-size in html element to support the rem unit */
	direction: rtl;
}
html, body {
	height: 100%;
}
body {
	/*background:#f8f8f8 url(../imgs/theme-eid-alFitr.png) no-repeat top center;
	background-attachment:fixed;*/
	background-color: #fff;
	color: #333;
	padding: 0;
	margin: 0;
	font-size: 0.875rem; /* Default font size [rem] */
}
a {
	color: #2080c7;
	text-decoration: none;
	outline: none;
	line-height: inherit;
}
a:hover {
	text-decoration: none;
}
img, a img {
	border: none;
}
img {
	display: inline-block;
	vertical-align: middle;
}
textarea {
	height: auto;
	min-height: 50px;
}
th, td {
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6, p, hr, ul, ol, dl, dt, dd, form, blockquote, pre, address, fieldset, figure {
	margin: 10px 0;
	margin: 0.625rem 0;
}
hr {
	height: 0;
	display: block;
	clear: both;
	margin: 0;
	padding: 0;
	border: 1px solid #ddd;
	border-width: 1px 0 0;
}
table {
	width: 100%;
	margin-bottom: 15px;
	margin-bottom: 0.9375rem;
	border: 1px solid #ddd;
	background-color: #fff;
}
table th, table td {
	display: table-cell;
	padding: 8px;
	border: 1px solid #ddd;
	text-align: right;
	line-height: 1rem;
}
table th {
	background-color: #f1f1f1;
}
/* --------------------/Main Settings-------------------- */

/* --------------------Typography - Font Issues-------------------- */
h1 {
	font-size: 32px; /* for old browser like IE7,8 */
	font-size: 2rem; /* 2rem=32px */
}
h2 {
	font-size: 28px; /* for old browser like IE7,8 */
	font-size: 1.75rem; /* 1.75rem=28px */
}
h3 {
	font-size: 22px; /* for old browser like IE7,8 */
	font-size: 1.375rem; /* 1.375rem=22px */
}
h4 {
	font-size: 20px; /* for old browser like IE7,8 */
	font-size: 1.25rem; /* 1.25rem=20px */
}
h5 {
	font-size: 18px; /* for old browser like IE7,8 */
	font-size: 1.125rem; /* 1.125rem=18px */
}
h6 {
	font-size: 16px; /* for old browser like IE7,8 */
	font-size: 1rem; /* 1rem=16px */
}
h1, h2, h3, h4, h5, h6 {
	line-height: 1.4; /* Unitless line height */
}
.font-small {
	font-size: 13px;
	font-size: 0.8125rem;
}
.font-large {
	font-size: 16px;
	font-size: 1rem;
}
/* --------------------/Typography - Font Issues-------------------- */

/* --------------------Buttons-------------------- */
button, input[type=button], .btn {
	display: inline-block;
	height: auto;
	padding: 5px 10px; /* default size */
	padding: 0.3125rem 0.625rem; /* default size [rem] */
	border: 0 none;
	outline: none;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	font-weight: bold;
	font-size: 12px;
	font-size: 0.75rem;
	line-height: 1.4;
	border-bottom: 2px solid #27b5bb;
	background-color: #33444e; /* default background-color for primary button */
	color: #fff;
	white-space: normal; /* text will wrap when necessary especially in this case input[type=button] */
	-moz-appearance: none; /* look like a standard user interface */
	-webkit-appearance: none; /* look like a standard user interface */
	-ms-appearance: none; /* look like a standard user interface */
	-o-appearance: none; /* look like a standard user interface */
	appearance: none; /* look like a standard user interface */
}
button:hover, input[type=button]:hover, .btn:hover {
	border-bottom: 2px solid #000;
	text-decoration: none;
}
.btn-lg {
	padding: 10px 20px !important; /* large size */
	padding: 0.625rem 1.25rem !important; /* large size */
	font-size: 16px !important;
	font-size: 1rem !important;
}
.btn-med {
	padding: 7px 15px !important; /* medium size */
	padding: 0.4375rem 0.9375rem !important; /* medium size */
	font-size: 13px !important;
	font-size: 0.8125rem !important;
}
.btn-sm {
	padding: 5px 10px !important; /* small size */
	padding: 0.3125rem 0.625rem !important; /* small size */
	font-size: 11px !important;
	font-size: 0.6875rem !important;
}
.btn-expand {
	display: block;
}
.btn.disabled, .btn[disabled] {
	background-color: #66747e;
	color: rgba(221, 221, 221, 0.7);
	cursor: not-allowed;
	opacity: 0.7;
}
.btn.disabled:hover, .btn[disabled]:hover {
	background-color: #56646e;
}
/* --------------------/Buttons-------------------- */

/* --------------------Form - Input Field-------------------- */
input[type=text], .form-field {
	width: 100%;
	height: 30px;
	padding: 5px;
	border: 1px solid #ccc;
	font-size: 14px;
	font-size: 0.875rem;
	line-height: 30px;
	color: #000;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
input[type=text]:focus, .form-field:focus {
	border: 1px solid #0078bc;
}
.form-field.disabled, .form-field[disabled], input[type=text]:disabled {
	background-color: #ddd;
	color: rgba(51, 51, 51, 0.7);
	cursor: default;
	opacity: 0.7;
}
/* --------------------/Form - Input Field-------------------- */

/* --------------------/Form - Select List-------------------- */
select, .form-select {
	width: 100%;
	height: auto;
	padding: 0;
	border: 1px solid #bbb;
	font-size: 14px;
	font-size: 0.875rem;
	line-height: 1.4;
	color: #000;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
select:hover, .form-select:hover {
	cursor: pointer;
}
select option, .form-select option {
	padding: 3px;
}
/* --------------------/Form - Select List-------------------- */

/* --------------------Form - Text Area-------------------- */
textarea, .form-text-area {
	width: 100%;
	padding: 5px;
	border: 1px solid #bbb;
	font-size: 14px;
	font-size: 0.875rem;
	line-height: 1.4;
	color: #999;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/* --------------------/Form - Text Area-------------------- */

/* --------------------Form - Validation-------------------- */
label.error {
	display: block;
	clear: both;
	margin-bottom: 15px;
	padding: 5px;
	background-color: #ff0000;
	color: #fff;
	font-size: 13px;
	font-size: 0.8125rem;
	font-style: italic;
}
/* --------------------/Form - Validation-------------------- */

/* --------------------Tooltips-------------------- */
.tooltip {
	width: 150px;
	display: none;
	position: absolute;
	bottom: 0;
	padding: 5px;
	background-color: #000;
	font-size: 13px;
	font-size: 0.8125rem;
	color: #fff;
	text-align: center;
	-moz-box-shadow: 0 0 5px #ddd;
	-webkit-box-shadow: 0 0 5px #ddd;
	box-shadow: 0 0 15px #ddd;
	word-wrap: break-word;
	z-index: 999;
}
.tooltip.arrow:after, .tooltip.arrow:before {
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
}
/* --------------------/Tooltips-------------------- */

/* --------------------Arrows-------------------- */
/* Top Arrow */
.arrow.arrow-top {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #333;

	display: inline-block;
}
/* /Top Arrow */

/* Bottom Arrow */
.arrow.arrow-bottom {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #333;

	display: inline-block;
}
/* /Bottom Arrow */
/* --------------------/Arrows-------------------- */

/* --------------------Navigation - Breadcrumbs-------------------- */
.breadcrumbs {
	display: block;
	overflow: hidden;
	margin: 0 0 15px 0;
	margin: 0 0 0.9375rem 0;
	list-style-type: none;
}
.breadcrumbs > * {
	display: inline;
	margin-left: 5px;
	margin-left: 0.3125rem;
}
.breadcrumbs .sign {
	line-height: 1.2;
	direction: rtl;
}
.breadcrumbs .current > * {
	color: #333;
}
/* --------------------/Navigation - Breadcrumbs-------------------- */

/* --------------------Navigation - Off Canvas Menu-------------------- */
.off-menu {
	width: 250px;
	width: 15.625rem;
	position: absolute;
	top: 0;
	bottom: 0;
	right: -250px;
	right: -15.625rem;
	overflow-y: auto;
	background-color: #333;
	z-index: 1001;
}
.off-menu-icon:hover {
	text-decoration: none;
}
.close-off-menu {
	display: none;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	cursor: pointer;
	z-index: 1002;
}
.off-menu ul {
	overflow: hidden;
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.off-menu ul li a, .off-menu ul li span {
	display: block;
	padding: 10px;
	border-bottom: 1px solid #222;
	color: #fff;
}
.off-menu ul li a:hover, .off-menu ul li span:hover {
	background-color: #555;
	color: #aaa;
	text-decoration: none;
}
.off-menu ul li ul li a {
	color: #bbb;
}
.off-menu ul.item-sep li {
	border-bottom: 1px solid #444;
}
.off-menu ul.item-sep li a, .off-menu ul li ul:last-child {
	border-bottom: 1px solid #222; /* Add border-bottom to <li> in parent menu and to sub <ul> */
}
.off-menu ul.item-no-sep li, .off-menu ul.item-no-sep li a, .off-menu ul li span {
	border-bottom: 0 none; /* Remove border-bottom from <li> in sub menu */
}
/* --------------------/Navigation - Off Canvas Menu-------------------- */

/* --------------------Tabs-------------------- */
.tab-links ul:after, .tab-content ul:after {
	display: block;
	clear: both;
	content: '';
}
.tab-links ul {
	width: 410px;
	height: auto;
	overflow: hidden;
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.tab-links ul li {
	float: right;
	margin: 0 10px;
	border: 1px solid #bbb;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}
.tab-links ul li a {
	display: block;
	padding: 5px 20px;
	background-color: #f1f1f1;
	color: #333;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}
.tab-links ul li.active {
	border-bottom: 1px solid #fff;
}
.tab-links ul li.active a {
	cursor: text;
}
.tab-links ul li a:hover, .tab-links ul li.active a {
	background-color: #fff;
	text-decoration: none;
}
.tab-content {
	margin-top: -1px;
	padding: 10px;
	border: 1px solid #bbb;
	background-color: #fff;
}
.tab {
	display: none;
}
.tab.active {
	display: block;
}
/* --------------------/Tabs-------------------- */

/* --------------------PopUp-------------------- */
.popup-overlay {
	width: 100%;
	height: 100%;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #333;
	opacity: 0.5;
	z-index: 1000;
}
.popup-container, .popup-containerLarge {
	width: 600px;
	display: none;
	position: fixed;
	top: 120px;
	top: 7.5rem;
	right: 50%;
	margin-right: -305px; /* width/2 + border-left-width */
	border: 5px solid #33444e;
	background-color: #fff;
	z-index: 9999999;
}
.popup-container .close {
	position: absolute;
	top: 0;
	left: 0;
	padding: 1px 4px;
	background-color: #33444e;
	font-size: 12px;
	font-size: 0.75rem;
	font-weight: bold;
	color: #fff;
	cursor: pointer;
}
.popup-container .close:hover {
	text-decoration: none;
}
.popup-container .content {
	margin: 15px 0 0;
	padding: 0 10px 10px;
	overflow-y: auto;
}
.popup-container .heightFixed {
	height: 350px;
}
.popup-container .heightAuto {
	height: auto;
}
.popup-container .heightLarge {
	height: 500px;
}
.popup-containerLarge {
	width: 750px;
	top: 40px;
	margin-right: -375px;
}
/* --------------------/PopUp-------------------- */

/* --------------------Back To Top-------------------- */
.back-to-top, .move-down {
	display: none;
	position: fixed;
	bottom: 40px;
	right: 10px;
	text-decoration: none;
	padding: 5px;
	color: #777;
}
.back-to-top:hover, .move-down:hover {
	text-decoration: none;
}
/* --------------------/Back To Top-------------------- */

/* --------------------Reusable Classes-------------------- */
.clearfix:before, .clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.over-hidden {
	overflow: hidden;
}
.width100 {
	width: 100%;
}
.height100 {
	height: 100%;
}
.left {
	float: left !important;
}
.right {
	float: right !important;
}
.float-none {
	float: none;
}
.mar-0 {
	margin: 0 !important;
}
.mart-0 {
	margin-top: 0 !important;
}
.marr-0 {
	margin-right: 0 !important;
}
.marb-0 {
	margin-bottom: 0 !important;
}
.marl-0 {
	margin-left: 0 !important;
}
.pad-0 {
	padding: 0 !important;
}
.padt-0 {
	padding-top: 0 !important;
}
.padr-0 {
	padding-right: 0 !important;
}
.padb-0 {
	padding-bottom: 0 !important;
}
.padl-0 {
	padding-left: 0 !important;
}
.hide {
	display: none;
}
.block {
	display: block;
}
.inline-block {
	display: inline-block;
}
.clear {
	clear: both;
}
.clear-none {
	clear: none;
}
.clear-inherit {
	clear: inherit;
}
.clear-left {
	clear: right;
}
.clear-right {
	clear: left;
}
.dir-l {
	direction: ltr;
}
.dir-r {
	direction: rtl;
}
/* Alignment */
.centered {
	margin-right: auto;
	margin-left: auto;
	float: none !important;
}
.text-left {
	text-align: left !important;
}
.text-right {
	text-align: right !important;
}
.text-center {
	text-align: center !important;
}
.text-justify {
	text-align: justify !important;
}
/* /Alignment */

/* List */
.inline-list {
	overflow: hidden;
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.inline-list li {
	float: right;
	margin-left: 15px;
	margin-left: 0.9375rem;
}
.inline-list li > * {
	display: block;
}
.block-list {
	overflow: hidden;
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.block-list li {
	float: none;
	padding: 5px;
}
.block-list li > * {
	display: block;
}
.list-disc {
	list-style-type: disc !important;
}
.list-circle {
	list-style-type: circle !important;
}
.list-decimal {
	list-style-type: decimal !important;
}
.list-space {
	margin-right: 15px !important;
	margin-right: 0.9375rem !important;
	padding-right: 20px !important;
	padding-right: 1.25rem !important;
}
/* /List */

/* Text Issues */
.word-wrap {
	word-wrap: break-word;
}
.color-default {
	color: #333;
}
.color-gray {
	color: #999;
}
.color-dark-gray {
	color: #777;
}
.color-black {
	color: #000;
}
.color-white {
	color: #fff;
}
.color-red {
	color: #ff0000;
}
.color-green {
	color: #00c555;
}
.link-hoverColor:hover {
	color: #333;
}
.link-hoverLine:hover {
	text-decoration: underline;
}
/* /Text Issues */
/* --------------------/Reusable Classes-------------------- */

/* --------------------Grid-------------------- */
.off-menu-wrapper {
	width: 100%;
	overflow: hidden;
	position: relative; /* For Off Canvas Menu */
}
.inner-wrapper {
	/*max-width:;*/  /* Add max-width in case fixed layout */
	position: relative; /* For Off Canvas Menu */
	margin: auto;
}
/* Basic Grid */
.row {
	width: 100%;
	margin: 0 auto 15px;
	margin: 0 auto 0.9375rem;
}
.wrapper:before, .wrapper:after, .row:before, .row:after { /* = overflow:hidden; [and] = .clearfixing */
	content: " ";
	display: table;
}
.wrapper:after, .row:after { /* = overflow:hidden; [and] = .clearfixing */
	clear: both;
}
.row .row:last-child {
	margin-bottom: 0; /* we removed margin-bottom from the last element, because there's a margin-bottom in the parent element (.row). */
}
.column, .columns {
	width: 100%;
	float: right;
	padding-right: 10px;
	padding-left: 10px;
	padding-right: 0.625rem;
	padding-left: 0.625rem;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
 *padding:0; /* IE 7 */
}
/* /Basic Grid */

/* Grid Margin */
.grid-margin {
	margin: 0 auto 15px;
	margin: 0 auto 0.9375rem; /* This class (.row) takes margin by default, and if you need to add margin to others use
this class (.grid-margin) */
}
/* /Grid Margin */
/* --------------------/Grid-------------------- */

/* --------------------Media Queries-------------------- */
/* Large Screens - [Desktop] */
@media screen and (min-width:970px) {
/* --------------------Grid-------------------- */
/* Column Classes */
.large-1 {
	width: 8.33333%;
}
.large-2 {
	width: 16.66667%;
}
.large-3 {
	width: 25%;
}
.large-4 {
	width: 33.33333%;
}
.large-5 {
	width: 41.66667%;
}
.large-6 {
	width: 50%;
}
.large-7 {
	width: 58.33333%;
}
.large-8 {
	width: 66.66667%;
}
.large-9 {
	width: 75%;
}
.large-10 {
	width: 83.33333%;
}
.large-11 {
	width: 91.66667%;
}
.large-12 {
	width: 100%;
}
/* /Column Classes */
/* --------------------/Grid-------------------- */

/* --------------------Visibility Classes [for Desktop]-------------------- */
.hidden-desktop {
	display: none !important;
}
.visible-desktop {
	display: block !important;
}
/* --------------------/Visibility Classes [for Desktop]-------------------- */
}
/* /Large Screens - [Desktop] */

/* Medium and Small Screens - [Common between tablet and mobile] */
@media screen and (max-width:969px) {
img {
	max-width: 100%; /* Responsive Images */
	height: auto; /* Responsive Images */
}
/* --------------------Tabs-------------------- */
.tab-links {
	width: 100% !important;
	overflow: auto !important;
}
/* --------------------/Tabs-------------------- */

/* --------------------Navigation - Menu Bar-------------------- */
.nav-bar-toggle {
	height: 20px;
	padding: 5px 20px;
	background-color: #f1f1f1;
	color: #333;
	cursor: pointer;
}
.nav-bar {
	display: none;
	overflow: hidden;
}
.nav-bar ul, .nav-bar ul li, .nav-bar ul li .sub-nav li {
	width: 100%;
}
.nav-bar ul li {
	float: none;
	border: 0 none;
}
.nav-bar ul li .sub-nav {
	position: static;
	border-right: 5px solid #ddd;
}
/* --------------------/Navigation - Menu Bar-------------------- */
}
/* /Medium and Small Screens - [Common between tablet and mobile] */

/* Medium Screens  - [Portrait tablet to desktop] */
@media screen and (min-width:768px) and (max-width:959px) {
/* --------------------Grid-------------------- */
/* Column Classes */
.medium-1 {
	width: 8.33333%;
}
.medium-2 {
	width: 16.66667%;
}
.medium-3 {
	width: 25%;
}
.medium-4 {
	width: 33.33333%;
}
.medium-5 {
	width: 41.66667%;
}
.medium-6 {
	width: 50%;
}
.medium-7 {
	width: 58.33333%;
}
.medium-8 {
	width: 66.66667%;
}
.medium-9 {
	width: 75%;
}
.medium-10 {
	width: 83.33333%;
}
.medium-11 {
	width: 91.66667%;
}
.medium-12 {
	width: 100%;
}
/* /Column Classes */
/* --------------------/Grid-------------------- */

/* --------------------Visibility Classes [for Tablet]-------------------- */
.hidden-tablet {
	display: none !important;
}
.visible-tablet {
	display: block !important;
}
/* --------------------/Visibility Classes [for Tablet]-------------------- */
}
/* /Medium Screens  - [Portrait tablet to desktop] */

/* Small Screens - [Portrait/Landscape phone to portrait tablet] */
@media screen and (max-width:767px) {
/* --------------------Typography - Font Issues-------------------- */
h1 {
	font-size: 22px; /* For old browser like IE7,8 */
	font-size: 1.375rem; /* 2rem=32px */
}
h2 {
	font-size: 18px; /* For old browser like IE7,8 */
	font-size: 1.125rem; /* 1.75rem=28px */
}
h3 {
	font-size: 16px; /* For old browser like IE7,8 */
	font-size: 1rem; /* 1.375rem=22px */
}
h4 {
	font-size: 14px; /* For old browser like IE7,8 */
	font-size: 0.875rem; /* 1.25rem=20px */
}
h5 {
	font-size: 13px; /* For old browser like IE7,8 */
	font-size: 0.8125rem; /* 1.125rem=18px */
}
h6 {
	font-size: 13px; /* For old browser like IE7,8 */
	font-size: 0.8125rem; /* 1rem=16px */
}
h1, h2, h3, h4, h5, h6 {
	line-height: 1.4; /* Unitless line height */
}
/* --------------------/Typography - Font Issues-------------------- */

/* --------------------Grid-------------------- */
/* Column Classes */
.small-1 {
	width: 8.33333%;
}
.small-2 {
	width: 16.66667%;
}
.small-3 {
	width: 25%;
}
.small-4 {
	width: 33.33333%;
}
.small-5 {
	width: 41.66667%;
}
.small-6 {
	width: 50%;
}
.small-7 {
	width: 58.33333%;
}
.small-8 {
	width: 66.66667%;
}
.small-9 {
	width: 75%;
}
.small-10 {
	width: 83.33333%;
}
.small-11 {
	width: 91.66667%;
}
.small-12 {
	width: 100%;
}
/* /Column Classes */
/* --------------------/Grid-------------------- */

/* --------------------Visibility Classes [for Mobile]-------------------- */
.hidden-mobile {
	display: none !important;
}
.visible-mobile {
	display: block !important;
}
/* --------------------/Visibility Classes [for Mobile]-------------------- */

/* --------------------PopUp-------------------- */
.popup-container {
	width: 100%;
	top: 0;
	right: 0;
	margin-top: 0;
	margin-right: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.popup-container .close {
	font-size: 20px;
	font-size: 1.25rem;
}
.popup-container .content {
	margin: 20px 0 0;
}
.popup-container .heightFixed {
	height: 400px;
}
/* --------------------/PopUp-------------------- */
}
/* /Small Screens - [Portrait/Landscape phone to portrait tablet] */

/* Small Screens - [Landscape phones and above] */
@media screen and (min-width:480px) and (max-width:767px) {
.popup-container .heightFixed {
	height: 200px;
}
}
/* /Small Screens - [Landscape phones and above] */
/* --------------------/Media Queries-------------------- */
